<h3>Add items</h3>

<form action="?page=add_item" method="POST">
	<input type="text" name="name" placeholder="name" value="<?php echo $name;?>"/><br/>
	<input type="number" step="any" name="price" placeholder="price" value="<?php echo $price;?>"/><br/>
	<textarea name="description" placeholder="description" rows="6" cols="40"><?php echo $description; ?></textarea><br/>
	<input type="number" name="stock" placeholder="stock" value="<?php echo $stock;?>"/><br/>
	<input type="submit"  value="add item"/>
</form>
<?php if (!empty($errors)) foreach($errors as $err) echo "<div style=\"color:red;\">$err</div>"; ?>