<h3>Your basket</h3>
<?php if(!empty($items)): ?>
	<table border="1">
	<tr>
		<th>Code</th>
		<th>Description</th>
		<th>Price</th>
		<th>in basket</th> 
		<th colspan="2"></th>
	</tr>
	<?php foreach($items as $item): ?>
		<tr class="item">
			<td><?php echo $item['name']; ?></td> 
			<td><?php echo $item['description']; ?></td>
			<td><?php echo $item['price']; ?> ban</td>
			<td class="basket"> <?php echo $item['in_basket']; ?> </td>
			<td class="rightwhite">
			<?php if($item['in_basket']<$item['stock']): ?> <a href="?page=add&id=<?php echo $item['id']; ?>" class="add">add&nbsp;one</a><?php endif;?></td>
		<td class="leftwhite"><a href="?page=remove&id=<?php echo $item['id']; ?>" class="remove">remove&nbsp;one</a>
			</td>	
		</tr>
	<?php endforeach; ?>
</table>
<p> </p>
<a href="?page=empty" class="remove">Empty basket</a>
<?php if (empty($_SESSION['user'])):?>
	<b>To confirm your order you need to </b> <a href="?page=login" class="add">login</a> OR <a href="?page=register" class="add">register</a>
<?php else: ?>
	<a href="?page=confirm" class="add">Confirm order</a>
<?php endif;?>
<?php else: ?>
	Go to the <a href="?page=shop" class="add">Shop</a> to add items to your basket
<?php endif; ?>
