<h1>Confirm order</h1>
<form action="?page=confirm" method="POST">
	<?php $total=0; ?>
	<?php foreach ($items as $item):?>
		
		<input type="checkbox" name="item[<?php echo $item['id']; ?>]" value="<?php echo $item['in_basket']; ?>x<?php echo $item['price']; ?>" id="item<?php echo $item['id']; ?>" <?php if (!$re || ($re && isset($_POST['item'][$item['id']]))) echo 'checked'; ?> > 
		<label for="item<?php echo $item['id']; ?>"><?php echo $item['in_basket']; ?> x <?php echo $item['name']; ?></label>
		 totaling <span class="total"><?php echo $item['in_basket']*$item['price']; 
		 if (!$re || ($re && isset($_POST['item'][$item['id']]))) $total+=$item['in_basket']*$item['price']; ?></span> ban<br/>
	<?php endforeach; ?>
	<p id="total"><b>Total:</b> <span><?php echo $total; ?></span> ban</p>
	<b>Billing address:</b><br/>
	<textarea name="billing" placeholder="billing" rows="6" cols="40"><?php echo $billing; ?></textarea><br/>
	<input type="submit" id="order" value="<?php if(!empty($errors))echo 'Try again'; else echo 'Order!';?>"/>
</form>
<?php if (!empty($errors)) foreach($errors as $err) echo "<div style=\"color:red;\">$err</div>"; ?>
<script type="text/javascript">
$("input[type=checkbox]").click(function(){
	total=0;
	$("input[type=checkbox]").each(function( index ) {
  		if($(this).prop('checked')) {
  			i=$(this).val().split('x');
  			total=total+(i[0]*i[1]);
  		}
	});
	$('#total span').html(total);
})
</script>