<h1>Log in to order</h1>

<form action="?page=login" method="POST">
	<input type="text" name="username" placeholder="username" value="<?php echo $username;?>"/><br/>
	<input type="password" name="password" placeholder="password"/><br/>
	<input type="submit"  value="<?php if (!empty($errors)) echo 'Try again'; else echo 'Log in' ?>" id="login"/>
</form>
<?php if (!empty($errors)) foreach($errors as $err) echo "<div style=\"color:red;\">$err</div>"; ?>