<h1>Welcome!</h1>

<p>You have reached the Banania Government Store that sells memorabilia and souvenirs from this beautiful country. The Patron of our store is
the King, His Majesty Bananius XII Magnus himself, and 1/10th of the shop's turnover will go to the maintenance of the Royal Palace.</p>

<p>We wish you a nice stay, and hopefully you find something suitable to take back home together with your good memories of Banania!</p>

<p>Sincerely,</p>
<p>The Shop Administration</p>