<h3><?php echo $title;?></h3>

<?php foreach($orders as $order):?>
	<div class="order">
		<b>Order id:</b> <?php echo $order['id']; ?>
		<br/><b>Confirmed @: </b> <?php $timestamp = strtotime($order['confirmed_at']);
echo date("m-d-Y H:m:s", $timestamp); ?>
		<?php if ($page=="all_orders"):?>
			<br/><b>User:</b> <?php echo $order['username']; ?> (<?php echo $order['user_id']; ?>)
		<?php endif; ?>
		<br/><b>Shipping address:</b> <pre><?php echo $order['billing']; ?></pre>
		<b>E-mail address:</b> <?php echo $order['email']; ?>
		
		<br/><b>Items in order:</b>
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Amount</th>
				<th>Buying price</th>
			</tr>
	<?php foreach($order['items'] as $item):?>
			<tr>
				<td><?php echo $item['name']; ?></td>
				<td><?php echo $item['amount']; ?></td>
				<td><?php echo $item['price']; ?> ban</td>
			</tr>
	<?php endforeach; ?>
			<tr>
				<th colspan="2" style="text-align:right"><b>Total:</b></th>
				<td><?php echo $order['total']; ?> ban</td>
			</tr>
		</table>
	</div>
<?php endforeach; ?>