<h1>Register to buy</h1>

<form action="?page=register" method="POST">
	<input type="text" name="username" placeholder="username" value="<?php echo $username;?>"/><br/>
	<input type="text" name="email" placeholder="email" value="<?php echo $email;?>"/><br/>
	<input type="password" name="password" placeholder="password"/><br/>
	<input type="password" name="password2" placeholder="password again"/><br/>
	<input type="submit"  value="<?php if (!empty($errors)) echo 'Try again'; else echo 'Register' ?>" id="register"/>
</form>
<?php if (!empty($errors)) foreach($errors as $err) echo "<div style=\"color:red;\">$err</div>"; ?>