
<h3>Shop</h3>
<form action="?" method="GET">
	<input type="hidden" name="page" value="search"/>
	<input type="text" name="q" placeholder="Search for.." <?php if (isset($search)):?>value="<?php echo  $search; ?>"<?php endif;?>/>
	<input type="submit" value="Search"/>
</form>
<p></p>

<?php if(!empty($results)): ?>
<?php if(isset($search)): ?><p><b>Searched for</b>: '<?php echo $search; ?>'</p><?php endif;?>
<table border="1">
	<tr>
		<?php if ($_SESSION['admin']):?><th>ID</th><?php endif;?>
		<th>Code</th>
		<th>Description</th>
		<th>Stock</th>
		<th>Price</th>
		<th>in basket</th> 
		<th colspan="2"></th>
	</tr>
<?php foreach($results as $item ): ?>
	<tr class="item">
		<?php if ($_SESSION['admin']):?><td><?php echo $item['id']; ?></td><?php endif;?>
		<td><?php echo $item['name']; ?></td>
		<td><?php echo $item['description']; ?></td>
		<td class="stock"><?php echo $item['stock']; ?></td>
		<td><?php echo $item['price']; ?> ban</td>
		<td class="basket">
		<?php if (!empty($_SESSION['basket']) ) :?>
			 <?php if(isset($_SESSION['basket'][$item['id']])) echo $_SESSION['basket'][$item['id']]; ?> 
		<?php endif; ?>
		</td>
		<td class="rightwhite"><?php if ($item['stock']>0 && (empty($_SESSION['basket']) ||(!empty($_SESSION['basket']) && !isset($_SESSION['basket'][$item['id']])) || (!empty($_SESSION['basket']) && isset($_SESSION['basket'][$item['id']]) && $_SESSION['basket'][$item['id']]<$item['stock']))): ?><a href="?page=add&id=<?php echo $item['id']; ?>" class="add">add&nbsp;one</a><?php endif; ?>
		</td>
		<td class="leftwhite"><?php if (!empty($_SESSION['basket']) && isset($_SESSION['basket'][$item['id']])) :?><a href="?page=remove&id=<?php echo $item['id']; ?>" class="remove">remove&nbsp;one</a><?php endif; ?></td>
	</tr>
<?php endforeach;?>
</table>
<?php endif; ?>
<p> </p>
<?php if($_SESSION['admin']): ?>
	<a href="?page=add_item" class="add">Add items</a>
<?php endif; ?>
