body {
	margin:0px;
	padding:0px;
}
pre, body {
	font-family: "DejaVu Serif";
}
#wrap {
	width: 900px;
	margin:auto;
}
#menu { background: black;}
#menu ul {
	margin:0px;
	padding: 0px;
}
#menu > ul{
	width: 900px;
	margin:auto;
}

#menu li, #menu a {
	background: black;
	display: inline-block;
}
#menu li ul {
	display: none;
	position: absolute;
}
#menu li:hover ul {
	display: block;
}
#menu a {
	color:white;
	text-decoration: none;
	font-weight: bold;
	padding:5px 10px;
}
.notice {
	color:red;
}
#content {
	padding: 20px;
}
table {
	border-collapse: collapse;
}
td {
	padding:3px;
}
th {
	background: black;
	color: white;
	font-weight: bold;
	padding:3px;
	border-color:black;
}
.item, .order{
	border:solid 1px grey;
	border-radius:15px;
	padding:10px;
	margin:10px 0px;
}
.add, .remove {
	display: inline-block;
	border-radius: 10px;
border: 2px solid rgba(125, 159, 186, .5);
padding: 2px;
text-decoration: none;
cursor: pointer; 
color: white;
font-weight: bold;
background: MediumSeaGreen;
}
.remove {
	background: FireBrick;
}
.leftwhite {
	border-left-color:white;
	vertical-align:top
}
.rightwhite{
	border-right-color:white;
	vertical-align:top
}
}
.just{
	text-align: justify;
}
.right{
	float:right;
}
.left {
	float:left;
}
.clear{
	clear:both;
}
.clearr{
	clear:right;
}
.clearl{
	clear:left;
}
.p10 {
	padding:10px;
}
.inline {
	display: inline-block;
}