<div id="side" >
	<p class="lines p10">
		<img src="images/banaania-vabariik.png" alt="coat of arms"/>
		<br/>The coat of arms of Banania
	</p>
	<p class="p10">
		<img src="images/Anonymous-Banana-Republic-Flag.png" alt="flag"/>
		<br/>The flag of Banania
	</p>
	<p class="lines p10">
		<img src="images/banana-bananas.png" alt="population" id="population"/>
		<br/><b>Population:</b> 1.6 mil Bananians
	</p>
</div>
<div id="main">

<h1> About the Kingdom </h1>

<p>The Kingdom of Banania won its independence from the Empire of Pineapplia during the ultimately victorious Freedom War in 1918-20. 
Bananians successfully used guerilla tactics and in three years, totally exhausted enemies fled the country. The first son of the victorious
general was chosen King and he rose to the throne under the ancient royal name, becoming Bananius X. The current King, His Majesty Bananius
XII Magnus, has been ruling since 1991 and has taken the whole society to a whole new level, hoping to reach Top five richest nations in the region. </p>

<p>The national currency, the <strong>ban</strong> is tied to the US
dollar with the fixed exchange rate of 1 USD=15.6466 ban.</p>

<b class="lines p10"> Symbols </b>


<p>The symbols bear the namesake of the country, the Southwestern Boozer Banana (<em>Musa bibitor africus</em>). The coat of arms dates back to the XV century, while the flag was created for the freshly independent Kingdom by the first King Bananius X.</p>

<b class="lines p10"> History </b>

<p>Being the archipelago, Bananians did not have much contact with strangers until the Middle Ages. Still it developed a rich indigenous culture which unfortunately got largely destroyed when the Empire of Pineapplia attacked and finally conquered it in 1701.</p>
<p>The Pineapplian period was a hard one as the conquerors tried to ban everything Bananian from the language to the bananas themselves. By the end of 20th century, the Bananians had enough and the 1918-20 Freedom War threw the nasty neighbours out.</p>
</div>