<h1>Art contest</h1>

<p>The government of Banania together with the Academy of Sciences and Bent Yellow Art School is running an art contest for children under the age of 16. Fill the below form  to enter the competition.</p>

<p>Contest duration: From February 1 to July 31</p>

<p>Contest results will be made public on September 1</p>

<?php if (!empty($errors)):?>
	<?php foreach($errors as $error):?>
		<div style="color:red;">
			<?php echo htmlspecialchars($error); ?>
		</div>
	<?php endforeach;?>
<?php endif;?>
<?php if (!empty($success)) echo '<div style="color:red;">'.$success.'</div>';?>

<form action="?page=contest.html" method="POST" enctype="multipart/form-data">
	<table>
		<tr>
			<th>Title: </th>
			<td>
				<input type="text" name="title" value="<?php echo $title;?>"/>
			</td>
		</tr>
		<tr>
			<th>Image:</th>
			<td>
				<input type="file" name="entry" />
			</td>
		</tr>
		<tr>
			<th>Name: </th>
			<td>
				<input type="text" name="name" value="<?php echo $name;?>"/>
			</td>
		</tr>
		<tr>
			<th>E-mail address: </th>
			<td>
				<input type="email" name="email" value="<?php echo $email;?>"/>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<input type="submit" value="<?php if (!empty($errors)) echo 'Try again'; else echo 'Submit' ?>" id="contest"/>
			</td>
		</tr>
	</table> 
</form>