<h1>Contact us</h1>

<p>This is a good place to ask about our country. Your inquiries will be forwarded to the members of Bananian Academy of Sciences who then do their best to provide an authoritative answer.</p>

<?php if (!empty($errors)):?>
	<?php foreach($errors as $error):?>
		<div style="color:red;">
			<?php echo htmlspecialchars($error); ?>
		</div>
	<?php endforeach;?>
<?php else: ?>
	<div style="color:red">
		<?php if (!empty($_POST)){ echo "Thank you!";
		$topic=$feedbk=$name=$email=""; } ?>
	</div>
<?php endif;?>
<form action="?page=contact.html" method="POST">
	<table>
		<tr>
			<th>Topic: </th>
			<td>
				<input type="text" name="topic" value="<?php echo $topic;?>"/>
			</td>
		</tr>
		<tr>
			<th>Content:</th>
			<td>
				<textarea name="feedbk" placeholder="What do you want to tell us..." rows="6" cols="50"><?php echo $feedbk;?></textarea>
			</td>
		</tr>
		<tr>
			<th>Name: </th>
			<td>
				<input type="text" name="name" value="<?php echo $name;?>"/>
			</td>
		</tr>
		<tr>
			<th>E-mail address: </th>
			<td>
				<input type="email" name="email" value="<?php echo $email;?>"/>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<input type="submit" value="<?php if (!empty($errors)) echo 'Try again'; else echo 'Send' ?>" id="contact"/>
			</td>
		</tr>
	</table> 
</form>
