	</div>

	<div id="footer">
		<span class="p10">Phone: +911 707 1337</span> | <span class="p10">© 2015 Government of Banania</span> |
		<form action="?" method="GET" class="inline p10">
			<input type="hidden" name="page" value="search.html" />
			<input type="text" name="q" placeholder="Search for..."/><input type="submit" value=" " id="loupe"/>
		</form>
	</div>
</div>

</body>

</html>