<div id="side">
	<h3>News</h3>
	<p class="lines just p10"><strong>February 2</strong>: The newly appointed Ambassador of Pineapplia, H.E. Nastee Nuizanzi, presented his papers to the King yesterday. With the tensions between two nations, we hope that Mr Nuizanzi can alleviate them at least a bit.</p>
	<p class="just p10"><strong>January 12</strong>: Wondrous Wigwam Inc., a Grenadillian construction firm, has won the national bid for reconstruction of the Royal Palace. For the duration of works, the royal family will reside at their summer cottage at the Banana Fish Beach.</p>
	<p class="lines just p10"><strong>January 1, 2015</strong>: Our King, His Majesty Bananius XII Magnus wishes everyone a very happy new year!.</p>
</div>
<div id="main">
	<p>The Kingdom of Banania lies on a flourishing archipelago of green islands between the continents of Fruitsalad and Barbecua. Its area is rougly 45 thousand square kilometres and it has about 1.6 million inhabitants. Bananian neighbours are Grenadillia, Mangomania and (unortunately) the Empire of Pineapplia.</p>

	<p>While historically agricultural (as seen from its name), today's Banania has by great efforts of its citizens turned into a modern nation with a sizable hi-tech sector. Companies like Banana & Olafsson, International Banana Machinery (IBM) and others have established their branches in Banania
and keep contributing towards the growing well-being of the society. Banania also has a good infrastructure in education that is topped by the Banania University and the Academy of Sciences.</p>

	<p>Banania has extensive international relations, being the member of UN, International Olympic Committee and various other organizations. The country also has rich culture, ranging from its distinct folk music (that some experts consider the original source of punk) to literature (C.C. Rotten has written world-renowned horror stories)  and folk customs (the Banana Games every midsummer, Yellow Christmas etc).</p>

	<p><img src="images/greendragon.jpg" alt="The Green Dragon" style="float: left; padding: 7px;" />Banania is rich of flora and fauna, which includes several native species. The most famous is likely the national animal, the famed 
Long-Nosed Banana-Eater Crocodile (<em>Crocodylus musophagus longirostris</em>). Nowadays a rarity, only a handful of world zoos can pride themselves with having a specimen. Unlike other crocodiles, the Green Dragon (as it is known locally) feeds mostly on over-ripe bananas and is only dangerous when provoked. The Old Fruitmaw, the 32-year old croc, has lived in the national zoo almost since his birth - and destroyed a huge load of bananas over time.</p>
</div>