body {
	margin:0px;
	background: gainsboro;
}
#wrap {
	width: 900px;
	background: white;
	margin:auto;
	overflow: auto;
} 

#content {
	min-height:600px;
	padding: 0px 10px;
	text-align: justify;

}

#menu {
	list-style: none;
	padding:0px 10px;
	margin:10px 0px;
}
#menu li {
	display: inline-block;
}
#menu a {
	display: inline-block;
	padding:5px 15px;
}

a {
	color:grey;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color:Gold;
	font-weight: bold;
	text-decoration: none;
}

#footer {
	clear: both;
	color:grey;
	text-align: center;
	overflow: auto;
}
.lines {
	border: solid 2px gainsboro;
	border-width: 2px 0px;
	display: block;
}
.just{
	text-align: justify;
}
.right{
	float:right;
}
.left {
	float:left;
}
.clear{
	clear:both;
}
.clearr{
	clear:right;
}
.clearl{
	clear:left;
}
.p10 {
	padding:10px;
}
.inline {
	display: inline-block;
}
#loupe {
	background: url('images/madnify-glass-kai-patos1.png') no-repeat;
	background-size: cover;
	border: none;
	width: 25px;
	height:25px;
	border-radius: 50%;
	overflow: auto;
}
#flag {
	display: block;
	width: 25%;
	margin: 20px auto;
}

#side {
	float: right;
	width: 30%;
	margin-left: 20px;
	text-align: center;
}

#side img {
	width: 50%;
}
#main {
	margin-right: 33%;
}
th {
	text-align: right;
}