.tasks .task.red:nth-child(3) + .task.red ~ div {
    background: rgba(225, 72, 55,1) !important;
	border-color:rgba(182, 57, 44, 1) !important;
	color: rgba(41,11,11,1) !important;
	
}
/* STATUS SPECIFIC STYLES */
.red {
	background: rgba(225, 72, 55,1) !important;
	border-color:rgba(137,4,4,1) !important;
	color: rgba(41,11,11,1) !important;
}
.yellow {
	background: #fff873 !important;
	border-color: orangered !important;
	color: darkred !important;
}
.green {
	background: LightGreen !important;
	border-color:green!important;
	color: darkgreen !important;
}
.grey {
	background: Gainsboro !important;
	border-color:grey !important;
	color: black !important;
}
/* EOF STATUS SPECIFIC STYLES */
body{
	margin:0px;
	padding:0px;
	font-family: 'Lato';
	letter-spacing: 0.05em;
}
#results p {
	margin: 0px;
}

#menu{
	background: black;
}

#tabs {
	display: inline-block;
}
.tab {
	color:white;
	background: black;
	display: inline-block;
	padding:5px;
}
#menu .active{
	background: white;
	color: black;
}
#tasks .news, .objective{
	border:solid 1px grey;
	margin-bottom: 3px;
	padding:5px;
}
#tasks .news{
	color: maroon;
}
.divider {
	position:absolute;	
	left:0px;
	background: white;
	right: 0px;
	overflow: auto;
}
#results .news{
	padding:4px;
	font-size: 19px;
	letter-spacing: 0.1em;
	background: black;
	color: white;
}
.team {
	position: relative;
	text-align: center;
	vertical-align: top;
}
.tasks {
vertical-align: top;	
}
.team:nth-child(odd) {
	background: gainsboro;
}
.team img {
	width: 150px;
	height:150px;
}
.team .name {
	font-size: 15px;
	margin:  3px auto;
	font-weight: bold;
}
.team .number{
	background: black;
color: white;
font-weight: bold;
font-size: 20px;
width: 30px;
padding: 2px;
display: inline-block;
border-radius: 30%;
border-top-left-radius: 0px;
position: absolute;
top: 3px;
left: 3px;
}
.tasks {
	overflow:auto;
}
.task {
	background: WhiteSmoke;
	border:solid 1px Gainsboro;
	color:grey;
	padding:3px;
	text-align: left;
}

table, td, tr {
	border-collapse: collapse;
	border:none;
	padding:0px;

}
table, tr {
	position: relative;
}
.bar {
	display: none;
	position: relative;
	width: 100%;
	height:1.5em;
	border:solid grey 1px;
}
.bar span {
	line-height: 1.5em;
	font-weight: bold;
}
.percent {
	height: 1.5em;
	width: 0%;
	background: url('images/bananaTiled30.png') repeat-x;
	position: absolute;
	top: 0px;
	z-index: -3;
}

.points_got {
	font-size: 13px;
	line-height: 15px;
}

.obj_points {
	float:right;
}
.task .title {
	font-weight: bold;
}


.taskRow{
	background: black;
}